/* 0e79b2 - Primary  - light blue*/
/* 191923 - Secondary - dark blue */
/* fbfef9 - Tertiary - text color */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #fbfef9;
  font-family: 'Montserrat', sans-serif;
}
html{
  scroll-behavior: smooth;
}