/* 0e79b2 - Secondary  - light blue -10%  */
/* 191923 - Tertiary - dark blue   -30%  */
/* fbfef9 - Main - white color     -60%  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #fbfef9;
  font-family: 'Montserrat', sans-serif;
}
html{
  scroll-behavior: smooth;
}